@import 'lib/class.scss';
html,body{
	// height:100%;
	background:#F5F5F5;
	overflow-x:hidden;
}
.container{
	padding-bottom:88px;

}
$headercolor:#B20000;
/* ========
   主页
   ========
 */
.header{
	height:88px;
	width:10rem;
	background:#fff;
	@include flexbox();
	@include flex();
	@include justify-content();
	@include align-items();
	p{
		width:80%;
		text-align:center;
		font-size:40px;
	}
	img{
		width:30px;
		height:auto;
	}
	span{
		font-size:30px
	}
}
.swiper{
	height:350px;
	img{
		height:350px;
		width:100%;
	}
}
.nav{
	@include flexbox();
	@include flex();
	padding:30px 0px;
	box-sizing:boder-box;
	background:#fff;
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	li{
		width:2.5rem;
		text-align:center;
		color:#aaa;
		margin-bottom:30px;
		img{
			display:inline-block;
			vertical-align: middle;
			margin:0 auto;
			margin-bottom:20px;
		}
	}
}
.productline{
	width:100%;
	@include flexbox();
	@include justify-content();
	@include align-items();
	height:80px;
	&:before{
		height:1px;
		background:#ccc;
		width:50px;
		margin-right:30px;
		content:'';
	}
	&:after{
		height:1px;
		background:#ccc;
		width:50px;
		margin-left:30px;
		content:'';
	}
}
.productlines{
	&:before{
		height:1px;
		background:#999;
		width:30%;
		margin-right:30px;
		content:'';
	}
	&:after{
		height:1px;
		background:#999;
		width:30%;
		margin-left:30px;
		content:'';
	}
}
.product{
	@include flexbox();
	@include justify-content(flex-start);
	@include align-items();
	@include flex-wrap(wrap);
	background:#fff;
	width:100%;
	.productlist{
		width:50%;
		@include flexbox();
		@include flex-direction(column)
		@include justify-content(flex-start);
		@include align-items();
		border-left:1px solid #ccc;
		border-bottom:1px solid #ccc;
		img{
			width:80%;
			height:auto;
			// border-bottom:1px solid #ccc;
		}
		.ppa{
			margin:10px 0;
			font-size:30px;
		}
		.ppb{
			margin:10px 0;
			font-size:24px;
			color:$headercolor;
		}
	}
}
.icon {
      /* 通过设置 font-size 来改变图标大小 */
      width: 40px; height: 40px;
      /* 图标和文字相邻时，垂直对齐 */
      vertical-align: -0.15em;
      /* 通过设置 color 来改变 SVG 的颜色/fill */
      fill: currentColor;
      /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
         normalize.css 中也包含这行 */
      overflow: hidden;
      margin-bottom:10px;
    }
.footer{
	height:88px;
	background:#fff;
	position:fixed;
	width:100%;
	bottom:0;
	border-top:1px solid #ddd;
	@include flexbox();
	@include flex();
	@include justify-content();
	@include align-items();
	li{
		text-align:center;
		width:25%;
		&.active{
			color:$headercolor
		}
	}
}
#search{
	position:fixed;
	top:0;
	width:100%;
	padding:15px;
	background:$headercolor;
	@include flexbox();
	@include justify-content();
	@include align-items();
	
	div{
		background:#fff;
		height:60px;
		padding:0 20px;
		border-radius:10px;
		margin-right:30px;
		img{
			display:inline-block;
			vertical-align:middle;
		}
		input{
			height:60px;
			background:#fff;
			outline:none;
			border:none;
			width:7rem;
			display:inline-block;
			vertical-align:middle;
		}
	}
	span{
		color:#fff;
		font-size:30px
	}
}
.show{
	@include opacity(100);
	@include prefix(transition,1s) 
}
.hide{
	@include opacity(0);
	@include prefix(transition,1s) 
}

/*  ========
	购物车
	========
 */
.cartlist{
	background:#fff;
	@include flexbox();
	@include flex();
	@include justify-content();
	@include align-items();
	width:100%;
	padding:0 20px;
	height:4rem;
	img{
		width:30%;
		height:auto;
	}
	.contents{
		margin-top:0.7rem;
		height:3rem;
		// background:#000;
		.ppa{
			font-size:30px;
			line-height:50px;
		}
		.ppb{
			font-size:26px;
			color:$headercolor;
			margin-top:0.3rem;
			text-align:justify;
			overflow:hidden;
			.span1{
				font-size:35px;
			}
			.span2{
				color:#666;
				margin-left:20px;
			}
			.span3{
				float:right;
				color:#666
			}
		}
	}
}
input[type=checkbox]{
	height:35px;
	width:35px;
	border-radius:35px;
	border:1px solid #666;

}
input[type=checkbox]:checked{
	height:35px;
	width:35px;
	border-radius:35px;
	border:1px solid #666;
	background:url('../image/icon15.png') no-repeat center;
	background-size:100%;
}
.acount{
	height:60px;
	position:fixed;
	bottom:88px;
	background:#fff;
	width:100%;
	color:#666;
	@include flexbox();
	@include align-items();
	@include justify-content(flex-end)
	.checkbox{
		width:30%;
		text-align:left;
		padding:0 20px;
		input{
			margin-right:15px;
		}
	}
	p{
		width:50%;
	}
	.accountbtn{
		width:20%;
		height:50px;
		background:#f00;
		color:#fff;
		line-height:50px;
		text-align:center;
	}
}
.navimg{
	width:100%;
	height:350px;
	background:url(../image/my-bg.png) no-repeat center;
	background-size:container;
	@include flexbox();
	@include justify-content();
	@include align-items();
	@include flex-direction(column);
	color:#fff;
	p{
		margin-top:20px;
		font-size:35px;
	}
}
.tabbox{
	width:100%;
	height:130px;
	@include flexbox();
	@include justify-content();
	@include align-items();
	background:#fff;
	color:#000;
	font-size:36px;
	.tablist{
		width:50%;
		@include flexbox();
		@include justify-content();
		@include align-items();
		p{
			margin-left:20px;
		}
	}
	.tablist1{
		border-right:1px solid #ccc;
	}

}
.icons {
      /* 通过设置 font-size 来改变图标大小 */
      width: 60px; height: 60px;
      /* 图标和文字相邻时，垂直对齐 */
      vertical-align: -0.15em;
      /* 通过设置 color 来改变 SVG 的颜色/fill */
      fill: currentColor;
      /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
         normalize.css 中也包含这行 */
      overflow: hidden;
      margin-bottom:10px;
      color:#f00;
    }
.flownav{
	width:100%;
	@include flexbox();
	@include justify-content();
	@include align-items();
	background:#fff;
	color:$headercolor;
	height:150px;
	border-top:1px solid #999;
	margin-top:15px;
	.flowlist{
		width:25%;
		text-align:center;
		p{color:#000}
		
	}
}
.mylist{
	width:100;
	margin-top:30px;
	background:#fff;
	.myitems{
		height:100px;
		font-size:30px;
		line-height:100px;
		padding:0 20px;
		background:url(../image/icon08.png) no-repeat 97% center;
		border-bottom:1px solid #ccc;
		img{
			display:inline-block;
			vertical-align:middle;
			margin-right:10px;
		}
		span{
			display:inline-block;
			vertical-align:middle;
		}
		.span2{
			float:right;
			font-size:24px;
			color:#666;
			margin-right:30px;
		}
		// &:before{
		// 	background:url(../image/icon-jkda.png) no-repeat left center;
		// 	padding:30px;
		// 	content:'';
		// }
	}
}
// 登陆页面
.inputbox{
	width:86%;
	margin:2rem auto;
	.ins{
		padding:10px 10px;
		background:#fff;
		margin-bottom:30px;
		border-radius:10px;
		position:relative;
		input{
			width:100%;
			height:60px;
		}
		.yzmbtn{
			position:absolute;
			right:0;
			color:$headercolor;
			background:#fff;
			top:0;
			width:30%;
			text-align:center;
			display:inline-block;
			height:60px;
			line-height:80px;
		}
	}
	.btn{
		height:88px;
		background:$headercolor;
		margin-bottom:30px;
		border-radius:10px;
		color:#fff;
		text-align:center;
		line-height:80px;
		font-size:32px;
		border:1px solid #FFCBCB;
	}
	.registerbtn{
		background:#FFCBCB;
		color:$headercolor;
		border:1px solid $headercolor;
	}
	
}
.threelogin{
	width:100%;
	overflow:hidden;
}
.loginlist{
	float:left;
	width:50%;
	text-align:center;
	margin-top:50px;
	img{
		display:inline-block;
		margin-bottom:30px;
	}
}
.loginsuccess{
    height:88px;
	background:rgba(0,0,0,0.7);
	margin-bottom:30px;
	border-radius:10px;
	color:#fff;
	width:90%;
	margin:0 auto;
	text-align:center;
	line-height:80px;
	font-size:32px;
	position:fixed;
	bottom:50px;
	left:5%;
	&:before{
		background:url(../image/icon18.png) no-repeat center;
		padding:30px;
		content:'';
	}

}
.modelbox{
	@include modelbox();
	.loginfail{
		height:200px;
		width:50%;
		background:#fff;
		border-top:10px solid $headercolor;
		border-radius:10px;
		text-align:center;
	}
	
	.ppa{
		height:120px;
		line-height:120px;
		border-bottom:1px solid #999;
		font-size:26px;
	}
	.ppb{
		height:80px;
		line-height:80px;
		color:$headercolor;
		font-size:30px
	}
}
.registerinput{
	margin:1rem auto;
	.seletbox{
		overflow:hidden;
		select{
			padding:10px;
			float:left;
			width:49%;
			outline:none;
			height:80px;
			border:0;
			margin-bottom:30px;
			color:#999;
			box-sizing:border-box;
			//#fff url(../img/icon17.png) no-repeat right 0.35rem center
			background:#fff url('../image/icon17.png') no-repeat 95% center
		}
		.select1{
			margin-right:2%;
		}
	}
}
.gologin{
	width:100%;
	text-align:center;
	margin-top:20px;
	color:#666;
	span{
		color:$headercolor;
	}
}
.productmain{
	width:100%;
	overflow:hidden;
	.main_left{
		width:30%;
		background:#fff;
		padding-top:50px;
		position:fixed;
		// left:0;
		// top:0;
		li{
			height:80px;
			text-align:center;
			line-height:80px;
			border-bottom:1px solid #ccc;
		}
		.active{
			background:#F5F5F5;
		}
	}
	.main_right{
		float:right;
		width:70%;
		.productitem{
			width:46%;
			margin-top:4%;
			margin-left:4%;
			background:#fff;
			text-align:center;
			float:left;
			img{
				width:80%;
				height:auto;
				display:inline-block;
			}
			p{
				@include ellipsis(ture)
			}
			.ppb{
				color:$headercolor;
				padding-bottom:20px;
				margin-top:20px;
			}
		}
	}
}
.desc{
	background:#fff;
	padding:20px;
	line-height:40px;
	font-size:30px;
	color:#aaa;
	p{
		color:$headercolor;
		font-size:35px;
		margin-top:20px;
		span{
			color:#aaa;
			font-size:30px;
			margin-left:30px;
		}
	}
}
.proparamter{
	height:100px;
	line-height:100px;
	padding:0 20px;
	margin-top:15px;
	background:#fff url(../image/icon08.png) no-repeat 97% center;
	font-size:30px;
}
.productdetail{
	height:100px;
	line-height:100px;
	// padding:0 20px;
	margin-top:15px;
	background:#fff ;
	font-size:30px;
	&:before{
		width:5px;
		height:40px;
		background:$headercolor;
		content:'';
		display:inline-block;
		vertical-align:middle;
		margin-right:30px;
	}
}
.kefunav{
	height:90px;
	width:100%;
	background:#fff;
	position:fixed;
	bottom:0;
	.li1{
		float:left;
		width:20%;
		text-align:center;
		margin-top:15px;
		.icon{
			height:30px;
			width:30px;
			font-size:40px;
		}
	}
	.li2{
		float:left;
		width:30%;
		text-align:center;
		color:#fff;
		line-height:90px;
		background:#FFA800;
		font-size:30px
	}
	.placeorder{
		background:#f00;
	}
}
.models{
	@include modelbox();
	.modelcart{
	position: fixed;
	bottom:0;
	width:100%;
	background:#fff;
	padding-top:30px;
	.probox{
		overflow:hidden;
		padding-bottom:30px;
		border-bottom:1px solid #ccc;
		img	{
			float:left;
			width:30%
		}
		div{
			float:right;
			width:70%;
			font-size:30px;
			padding:30px;
			line-height:50px;
			.ppb{
				margin-top:15px;
				color:$headercolor;
				.span2{
					color:#000;
					margin-left:30px;
				}
			}
		}
	}
	.buynums{
		padding:30px;
		font-size:30px;
		.changnums{
			float:right;
			.ppa{
				padding:15px 20px;
				background:#ccc;
			}
			.ppb{
				padding:15px 20px;
			}
		}

	}
	.buybtn{
		background:$headercolor;
		color:#fff;
		width:100%;
		text-align:center;
		padding:30px;
		font-size:30px;
	}
}
}
.orderlist{
	.header{
		height:88px;
		background:$headercolor;
		color:#fff;
		font-size:34px;
		position:relative
	}
	.returnpage{
		height:88px;
		position:absolute;
		top:0;
		left:0;
		width:20%;
		text-align:center;
		line-height:88px;
		img{
			width:24px;
			height:auto;
			display:inline-block;
			vertical-align:middle;
			margin-right:10px;
		}
		.span{
			display:inline-block;
		}
	}
	
}
.ordernav{
	background:#fff;
	width:100%;
	overflow:hidden;
	font-size:32px;
	li{
		width:20%;
		float:left;
		text-align:center;
		line-height:88px;
	}
	.active{
		border-bottom:3px solid $headercolor;
		color:$headercolor;
	}
}
.orderitems{
	background:#fff;
	.oridertop{
		padding:0 30px;
		margin-top:20px;
		.orderheaders{
			border-bottom:1px solid #ccc;
			@include flexbox();
			height:88px;
			line-height:88px;
			padding:0;
			@include justify-content(space-between );
			span{
				display:inline-block;
			}
			.span3{
				// color:#0f0;
				margin-left:10%;
			}
		}
		.productitems{
			overflow:hidden;
			padding:30px 0;
			position:relative;
			img{
				width:20%;
				height:auto;
				float:left;
				border:1px solid #ccc;
			}
			div{
				float:right;
				width:78%;
				font-size:26px;
				line-height:40px;
				.price{
					overflow:hidden;
					@include flexbox();
					font-size:24px;
					margin-top:15px;
					color:#999;
					@include justify-content(space-between);
				}
			}
		}

	}
	.buyagain{
		width:100%;
		border-top:1px solid #ccc;
		height:88px;
		overflow:hidden;
		padding:0 30px;
		p{
			float:left;
			line-height:88px;
		}
		.pps{
			float:right;
			span{
				padding:15px 25px;
				border:2px solid $headercolor;
				border-radius:5px;
			}
		}
		.gomoneybtn{
			float:left;
			margin-left:80px;
			span{
				padding:15px 18px;
				background:$headercolor;
				border-radius:5px;
				color:#fff;
			}
		}
	}
}
.color1	{
	color:$headercolor
}
.color2{
	color:#ccc;
}
.color3{
	color:#038e00
}
.logistics{
	width:100%;
	text-align:center;
	color:#666;
	h3{
		line-height:70px;
		margin-bottom:50px;
	}
	.logistics_items{
		width:100%;
		@include flexbox();
		margin-left:6%;
		height:150px;
		p{
			text-align:left;
		}
		.timeline{
			width:1px;
			height:150px;
			background:#000;
			content:'';
			margin-left:40px;
			margin-right:40px;
			position:relative;
			img{
				position:absolute;
				top:0px;
				left:-17px;
				background:#fff;
			}
		}
	}
	.logistics_items:last-child .timeline{
		width:0px;
	}
	.active{
		color:$headercolor;
	}
}
.font1{
	font-size:30px;
}
.address{
	width:100%;
	background:#fff;
	border-bottom:1px solid #ccc;
	font-size:34px;
	padding:0 30px;
	color:#999;
	height:100px;
	label p{
		width:20%;
		height:100px;
		text-align:center;
		line-height:100px;
		float:left
	}
	label input{
		width:80%;
		height:98px;
		float:left;
		color:#999;
		text-align:right;
		border:none;
		outline:none;
		// background:#0f0;
	}
}
.orderlistmain{
	background:url(../image/line.png) no-repeat center bottom;
	height:150px;
}
.insreorderlist{
	margin-top:50px;
	margin-left:20px;
	padding-left:50px;
	padding-right:30px;
	font-size:28px;
	background:url(../image/icon12.png) no-repeat left top,url(../image/icon13.png) no-repeat right center;
	.buyeradderss_t{
		padding:20px;
		padding-top:0;
		@include flexbox();
		@include flex();
		@include justify-content(space-between)
		
	}
	.buyeradderss_b{
		padding-left:20px;
		margin-top:20px;
	}
}
.prolists{
	// background:#fff;
	@include flexbox();
	margin:30px;
	.imgbox{
		width:50%;
		// background:#f00;
		img{width:100%;height:auto;}
	}
	.profont{
		margin-top:30px;
		font-size:30px;
		margin-left:30px;
		line-height:40px;
		.proprize{
			margin-top:40px;
			color:$headercolor;
			span{
				margin-left:40px;
				color:#ccc;
				text-decoration:line-through;
				margin-top:-20px;
			}
		}
	}
}
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.orderinsurelist{
	background:#fff;
	overflow:hidden;
	padding:20px;
	font-size:30px;
	line-height:50px;
	border-bottom:1px solid #ccc;
	.spanadd{
		display:inline-block;
		height:50px;
		width:50px;
		text-align:center;
		line-height:50px;
		background:#ddd;
	}
	.spannum{
		margin:0 10px;
	}
	.imgboxs{
		height:50px;
		// display:table-cell;
		.imgicons{
			display:inline-block;
			vertical-align:middle;
			margin-left:10px;
		}
	}
	.inputboxs{
		margin-left:30px;
		input{
			color:#ccc;
		}
	}
	
}
.bga{
	background:#fff url('../image/icon13.png') no-repeat right center;
}
.orderbtns{
	position:fixed;
	overflow:hidden;
	height:80px;
	width:100%;
	bottom:0px;
	background:#fff;
	border-top:1px solid #ccc;
	p{
		width:70%;
		text-align:right;
		line-height:80px;
		padding-right:20px;
	}
	div{
		background:red;
		color:#fff;
		width:30%;
		text-align:center;
		line-height:80px;
	}
}